

.event {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-start;
 width: 90%;
 min-height: 20vh;
}
.cursor {
    cursor: pointer;
    color: #7c529c;
}
.cursor:hover{
    color: #c8156e;
  }
  .card.flexCard{
      display: flex;
     justify-content: space-evenly;
     align-items: baseline;
  }
