/* .ticket{
    width: 70%;
    display: flex;
    align-items: center;
    
}
.card.flexTicket{
    display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 10px;
}
 */



 .ticket {
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-position: top;
  background-size: fill;
  background-color: #04030C;
  width: 55%;
  min-height: 45vh;
  border-radius: 15px;
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
            filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3)); 
  display: block;
  margin: 2% auto;
  color: #000;

}

.date {
  margin: 30px;
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
            filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3)); 
}

.date .day{
  font-size: 80px;
  float: left;
}

.date .month-and-time {
  float: left;
  margin: 15px 0 0 0;
  font-weight: bold;
}
.name{
  color: rgba(255, 255, 255, 0.836);
}
.artist {
  color: rgba(255, 255, 255, 0.836);
  font-size: 30px;
  margin: 10px 100px 0 40px;
  float: left;
  font-weight: bold;
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
            filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3)); 
}

.location {
  width: 55%;
  height: 110px;
  color: #fff;
  float: left;
  margin: 135px 0 0 78px;
  font-size: 20px;
  font-weight: bold;
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
            filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3)); 
}

.locationBefore {

  background-size: 110px 110px;
  min-width: 30%; 
  min-height: 120px;
  display: inline-block;
  /* float: left; */
  position: absolute;
  left: -160px;
  bottom: 5px;
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
            filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3)); 
}

.rip {
  border-right: 8px dotted #7c529c;
  min-height: 45vh;
  position: absolute;
  top: 0;
  left: 530px;
}

.cta .buy {

  position: absolute;
  top: 135px;
  right: 15px;
  display: block;
  font-size: 12px;
  font-weight: bold;
  background-color: #c8156e;
  padding: 10px 20px;
  border-radius: 25px;
  color: #fff;
  text-decoration: none;
  -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
            filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3)); 
}

.small {
 
  font-weight: 200;
  color: rgba(255, 255, 255, 0.836);
}

.id{
  font-size: xx-small;
}
.flexx{
  position: relative;
  width: 85%;

  display: flex;
  justify-content: flex-start;
  left: 100px;
}